css
/*EL CAFE 1.css*/
*{
	margin: 0;
	padding:0;
	box-sizing: border-box-sizing;
}
body {
	height: 100vh;
	width: device-width;
	background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("Background image.jpg") 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeater;
	font-family: Poppins;
}
header{
	width: device-width;
} 
.logo{
  text-align: center;
}
.nav-bar a:hover {
  color: #C06B3E;
}
.nav-bar ul {
    list-style-type: none;
	justify-content: space-between;
	padding: 30px 80px;
	font-size: 2.1rem;
	display: flex;
}
.nav-bar ul li a{
	color: blue ;
	height: 80px;
	font-weight: 400;
	text-decoration: none;
    display: inline;
    margin-right: 20px;
	transition: 0.2s ease;
}
.nav-bar .title{
	color: blue;
	font-size: 56px;
	font-weight: 600;
}
header .content{
	color: white;
}
span { 
color: #C06B3E;
}

h1 {
	font-size: 30px;
	text-align: left;
	color: white;
}

h2 {
	font-size: 30px;
	text-align: center;
	color: white;
}
h4{
	color: #C06B3E;
	font-size: 20px;
	padding: 10px;
	text-align: center;	
}
h3 {
    color:blue ;
}
.title-1{
	font-size: 56px;
	color: blue;
	font-weight: 600;
}
 p{
	margin: 30px;
	margin-left: 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
label{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.images img{
	height: 200px;
	width: 160px;
	padding: 20px;
	background: white;
	border-radius: 20px;
	cursor: pointer;
	transition: 1.1s ease;
}

.images img:hover{
	background: transparent;
	border: 3px solid #C06B3E;
}

section button{
	height: 40px;
	color: #fff;
	background: #C06B3E ;
	padding: 5px 30px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.home button:hover{
	background: none;
	border: 2px solid blue;
}

#title-1{
	font-size: 56px;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
#menu{
	padding: 25px 0 25px 0;
	width: device-width;
}
#menu_row{
	display: flex;
	padding: 0 100px 0 100px;
	text-align: center;
	width: device-width;

}
#menu_col{
	box-shadow: none;
	border: none;
	background-color: transparent;
	margin: 10px;
	padding: 10px;
	flex: 1;
}
#menu_col h2{
	background-color: #C06B3E;
	color: #fff;
	text-align: center;
	padding: 5px;
}
#image{
	width: 150px;
	height : 150px;
	border-radius: 50%;
	padding: 5px;
}
#image img{
	
	display: flex;
	width: 100%;
	height : 100%;
	border-radius: 50%;
	object-fit: cover;
}
#image button{
	height: 150px;
	color: #fff;
	background: none;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#image button:hover{
	background: white;
	border: 2px solid #C06B3E ;
}
.card-body i{
	color:yellow;
}
.box{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 5px;
}
form input{
	width: 400px;
	height: 45px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 40px;
	outline: none;
	border: none;
}
form button{
	background: black;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
}
form button:hover{
	background: #fff;
	border: 3px solid #C06B3E;
	color: black;
}

footer {
	background: #333;
	margin-top: 10px;
	margin-bottom: 10px;
	width: device-width;
	text-align: center;
	padding: 1rem 0;
	
}
.footer h3{
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
.col-2{
	flex-grow: 2;
}
.col-1 a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
}
.col-3 a{
	display: black;
}
.social-icons{
	margin-top: 30px;
}
.social-icons i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}
.bottom{
	padding:1rem 0;
	margin: 10px;
}






@media screen and (max-width: 768px){
	#mobile_menu{
		display: block;
	}
	#nav ul{
		display: none;
	}
	html{
		font-size: 95%;
	}
	#menu{
		flex-wrap: wrap;
		padding: 0 10px 0 10px;
		
	}
}
@media screen and (max-width : 360px){
	html{
		font-size: 70%;
	}
}		